.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 40px;
  padding: 10px 50px;
}

[data-testid="movie-card"] {
  position: relative;
  padding: 2px;
  text-align: center;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
[data-testid="movie-card"]:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a box shadow on hover */
  background-color: #e0e0e0; /* Change background color to a lighter shade on hover */
  transform: scale(1.05);
}

[data-testid="movie-title"] {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  font-weight: 600;
  margin: 0;
}
.favorite {
  position: absolute;
  top: 2%;
  right: 5%;
}
[data-testid="movie-poster"] {
  max-width: 100%;
}
.thenames {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3px;
}
.thenames_rating {
  display: flex;
  gap: 5px;
}
.thenames_rating > p {
  font-size: 0.6rem;
  color: gray;
}
[data-testid="movie-release-date"] {
  font-style: italic;
  font-size: 0.6rem;
  color: gray;
  padding-top: 5px;
}
.movieList .test {
  text-decoration: none;
  color: inherit;
}
[data-testid="movie-genres"]{
    font-size: 0.6rem;
    color: gray;
}
